<div class="container-mario">
    <div class="item1"><h2>Super Mario World</h2></div>
    <div class="item2"><img src="../../assets/mario.jpg" alt=""></div>
    <div class="item3"><ul>
        <li>Desarrollador: Nintendo EAD</li>
        <li>Plataforma: Super Nintendo Entertainment System (SNES)</li>
        <li>Género: Plataforma</li>
        <li>Jugabilidad: Super Mario World sigue las aventuras de Mario en el mundo de Dinosaur Land para rescatar a la Princesa Toadstool y a los amigos de Mario, los Yoshis, del villano Bowser. Introdujo a Yoshi, un dinosaurio que Mario puede montar.</li>
        <li>Características: Ofreció un mundo expansivo con múltiples niveles y rutas secretas, power-ups innovadores y gráficos coloridos para la época.</li>
        <li>Impacto Cultural: Considerado uno de los mejores juegos de plataformas de todos los tiempos, estableció muchos estándares para futuros juegos de Mario y de plataformas en general.</li>
    </ul></div>
</div>    
<app-footer></app-footer>