<div class="container-streetf">
    <div class="item1"><h2>Street Fighter™ II: The World Warrior</h2></div>
    <div class="item2"><img src="../../assets/streetfighter.jpg" alt=""></div>
    <div class="item3"><ul>
        <li>Desarrollador: Capcom</li>
        <li>Plataforma: Arcade (posteriormente portado a SNES, Sega Genesis, y otras plataformas)</li>
        <li>Género: Lucha</li>
        <li>Jugabilidad: Street Fighter II introdujo a los jugadores en el mundo de los torneos de lucha con una variedad de personajes únicos, cada uno con su propio conjunto de movimientos especiales. </li>
        <li>Características: Ofreció gráficos detallados y coloridos para su tiempo, una jugabilidad competitiva con un sistema de combos, y una lista diversa de luchadores internacionales. Introdujo el concepto de "Mirror Matches", donde los jugadores pueden elegir el mismo personaje.</li>
        <li>Impacto Cultural: Aclamado como uno de los juegos de lucha más influyentes de todos los tiempos, Street Fighter II popularizó el género de lucha en los arcades y en consolas domésticas.</li>
    </ul></div>
</div>    
<app-footer></app-footer>