<div class="container-zelda">
    <div class="item1"><h2>The Legend of Zelda: Ocarina of Time</h2></div>
    <div class="item2"><img src="../../assets/zelda.jpg" alt=""></div>
    <div class="item3"><ul>
        <li>Desarrollador: Nintendo EAD</li>
        <li>Plataforma: Nintendo 64</li>
        <li>Género: Aventura/Acción</li>
        <li>Jugabilidad: Siguiendo la historia de Link en su misión para detener al malvado Ganondorf, Ocarina of Time es conocido por su extenso mundo abierto, mazmorras desafiantes y puzzles complejos.</li>
        <li>Características: Ofreció una narrativa profunda, música memorable, y mecánicas de juego innovadoras como la ocarina que Link usa para manipular el tiempo y resolver puzzles.</li>
        <li>Impacto Cultural: Aclamado como uno de los mejores videojuegos de todos los tiempos, influyó en muchos juegos de aventura y acción que siguieron, estableciendo un alto estándar en diseño de videojuegos.</li>
    </ul></div>
</div>    
<app-footer></app-footer>